@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');


html,body{ 
    height:100vh; 
    width:100vw; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}

* {
    margin: 0 auto;
    padding: 0;
    font-weight: 300;
}



body {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
}

.navbar {
    background: url(images/bg-pattern-intro.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(13, 100%, 72%), hsl(356, 100%, 66%), hsl(356, 100%, 66%), hsl(356, 100%, 66%), hsl(356, 100%, 66%), hsl(356, 100%, 66%));
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -430px;
    padding: 30px;
    padding-bottom: 110px;
    color: white;
    border-radius: 0 0 0 92px;
    border: none;
}


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Images
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/




.custom-image-div-1 {
    position: relative !important;
    padding-bottom: 200px;
}


/* .image-desktop-1{
    position: absolute !important;
    top: 0px;
    left: 600px;
} */

.image-mobile-1{
    display: none !important;
    position: absolute !important;
}





.custom-image-div-2 {
    position: relative;
}


.image-desktop-2 {
    z-index: 2;
    position: absolute;
    left: -40px;
    top: -175px;
    overflow: visible;
}





.custom-image-div-3 {
    position: relative;
}


.image-desktop-3 {
    position: absolute;
    margin: auto;
    bottom: -900px;
    left: -300px;
}

.image-mobile-3 {
    display: none;
}



/* @media only screen and (max-width: 600px) {

    .custom-image-div-1 {
        position: relative !important;
        padding-bottom: 200px;
    }
    
    
    .image-desktop-1{
        position: absolute !important;
        top: 0px;
        left: 600px;
    }
    
    .image-mobile-1{
        display: none !important;
        position: absolute !important;
    }
    
    

    .custom-image-div-2 {
        position: relative;
    }
    
    
    .image-desktop-2 {
        z-index: 2;
        width: 430px;
        position: absolute;
        left: 10px;
        top: -460px;
        overflow: visible;
    }
    
    
    
    
    .custom-image-div-3 {
        position: relative;
    }
    
    
    .image-desktop-3 {
        position: absolute;
        margin: auto;
        bottom: -900px;
        left: -300px;
    }
    
    .image-mobile-3 {
        display: none;
    }
} */


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Navbar
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.navbar-top-custom {
    padding-bottom: 85px;
    padding-top: 30px;
    color: white;
}

.navbar-header {
    padding-right: 40px;
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Top Navlinks
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.top-navlinks-custom {
    color: white !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
    border-radius: 24px !important;
    background-color: transparent !important;
    transition: all 200ms ease !important;
}
    .top-navlinks-custom:hover {
        color: white;
        text-decoration: underline !important;
    }
        .top-navlinks-custom:active {
            color: white;
            text-decoration: none !important;
        }
        .top-navlinks-custom:focus {
            color: white;
            text-decoration: none !important;
        }

.top-navlinks-custom::after {
    background-image: url(images/icon-arrow-light.svg) !important;
    background-size: cover !important;
    content: "" !important;
    width: 10px !important;
    height: 7px !important;
    position: absolute !important;
    bottom: 21px !important;
    right: -1px !important;
    transition: 200ms all ease;
}
        .top-navlinks-custom:focus::after {
            background-image: url(images/icon-arrow-light.svg) !important;
            background-size: cover !important;
            transform: rotate(180deg) !important;
            content: "" !important;
            width: 10px !important;
            height: 7px !important;
            position: absolute !important;
            bottom: 21px !important;
            right: -1px !important;
            transition: 200ms all ease !important;
        }


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Navlink Dropdowns
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


#dropdown-menu {
    padding: 18px 8px !important;
    border-radius: 6px !important;
    color: black;
}


#dropdown-menu li {
    margin-top: 2px;
    margin-bottom: 2px;
}

#dropdown-menu li a {
    margin-top: 0px;
    font-size: 16px;
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}
    #dropdown-menu li a:hover {
        font-weight: 700;
        background-color: transparent;
    }
        #dropdown-menu li a:active {
            font-weight: 700;
            background-color: #eee;
            border-radius: 6px;
        }


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    All buttons
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


button, .custom-btn {
    border-radius: 24px !important;
    padding: 12px 36px !important;
    margin-left: 12px !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    font-size: 16px;
    font-weight: 600 !important;
    transition: all 200ms ease !important;
}


/* For Login and Sign up */

.navbar-right {
    padding-right: 40px;
}



.divider-hr {
    display: none;
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Login Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-login {
    color: #fff !important;  
    padding: 2px !important;
    margin: 12px 36px;
    font-weight: 600 !important;
    text-align: center !important;
    opacity: 0.5 !important;
}
    .custom-login:hover {
        color: #fff !important;
        opacity: 1 !important;
    }
        .custom-login:focus {
            font-weight: 600 !important;
            color: #555 !important;
            background-color: transparent !important;
            outline: none !important;
        }
        .custom-login:active {
            color: hsl(353, 100%, 62%) !important;
            background-color: transparent !important;
            outline: none !important;
            box-shadow: none;
            }


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//      Sign Up Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-sign-up {
    background-color: white !important;
    color: hsl(356, 100%, 66%) !important;
}

    .custom-sign-up:hover {
        background-color: hsl(0, 0%, 100%, 0.2) !important;
        color: white !important;
        box-shadow: none !important;
    }
    .custom-sign-up:focus {
        box-shadow: none !important;
        outline: none !important;
        background-color: white !important;
        color: hsl(356, 100%, 66%) !important;
    }
        .custom-sign-up:active {
            background-color: white !important;
            color: hsl(356, 100%, 66%) !important;
            opacity: 0.2 !important;
            box-shadow: none !important;
            outline: none !important;
        }



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Hamburger
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

    
.hamburger-div {
    float: right;
    position: relative;
    transition: all 200ms ease;
}


.hamburger-div .img1 {  /* Hamburger Icon */
    display: none;
    position: absolute;
    bottom: 12px;
    left: -6px;
    transition: all 200ms ease;
}

.hamburger-div .img2 {  /* Close Hamburger Icon */
    display: none;
    position: absolute;
    bottom: 8px;
    left: -3px;
    transition: all 200ms ease;
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Navbar Content
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.navbar-content-custom h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 56px;
}

.navbar-content-custom div {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

.navbar-content-custom button{
    margin-top: 40px;
    margin-bottom: 25px;
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Learn More Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-learn-more {
    background-color: transparent !important;
    padding: 12px 20px !important;
    color: white !important;
    border: white 1px solid !important;
}
    .custom-learn-more:hover {
        background-color: white !important;
        color: hsl(356, 100%, 66%) !important;
    }
        .custom-learn-more:active {
            background-color: transparent !important;
            color: white !important;
            opacity: 0.6 !important;
            outline: none !important;
        }
        .custom-learn-more:focus {
            outline: none !important;
            color:#bbb!important;
        }


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Start For Free Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-start-for-free {
    background-color: white !important;
    color: hsl(356, 100%, 66%) !important;
    padding: 12px 20px !important;
    box-shadow: none !important 
}

    .custom-start-for-free:hover {
        background-color: hsl(0, 0%, 100%, 0.2) !important;
        color: white !important;
        box-shadow: none !important;
    }
        .custom-start-for-free:active {
            background-color: white !important;
            color: hsl(356, 100%, 66%) !important;
            opacity: 0.2 !important;
            box-shadow: none !important;
            outline: none !important;
        }
        .custom-start-for-free:focus {
            box-shadow: none !important;
            outline: none !important;
            color: hsl(353, 100%, 62%) !important
        }
    
    
/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Main-Text
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-main-heading {  /* Div */
    margin: 100px auto -120px auto !important;
}

.custom-main-heading h1 {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', sans-serif;
    font-size: 32px !important;
    font-weight: bold !important;
}




/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//    Main-Text  Section 1
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-container-fluid-div {
    padding-bottom: 250px;
}


.custom-main-text-1 {
    padding: 0px 30px 20px 30px;
}

.custom-main-text-1 h2 {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 24px !important;
    padding-bottom: 24px;
}

.custom-main-text-1 p {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 300;
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Main-Text  Section 2
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-container-fluid-div-2 {
    background: url(images/bg-pattern-circles.svg), hsl(237, 17%, 21%);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: -220px;
    background-position-y: -550px;
    border-radius: 0 90px 0 90px;
    padding: 100px 150px;
    margin-top: 40px;
}


.custom-main-text-2 h2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 100%, 0.7);
    padding-bottom: 24px;
}

.custom-main-text-2 p {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: hsl(0, 0%, 100%, 0.7)
}



/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Main-Text  Section 3
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-container-fluid-div-3 {
    padding-bottom: 160px;
}


.custom-main-text-3 {
    padding: 280px 100px 100px 100px;
    color: white;
}

.custom-main-text-3 h2 {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass', sans-serif;
    font-size: 24px !important;
    font-weight: 600 !important;
    padding-bottom: 24px;
}

.custom-main-text-3 p {
    color: initial;
    font-family: 'Overpass', sans-serif;
    font-size: 16px !important;
    font-weight: 300 !important;
    padding-bottom: 50px
}


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//  Footer
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-container-fluid-div-footer {
    background-color: hsl(237, 17%, 21%);
    border-top-right-radius: 90px;
    padding: 70px;
}


.footer-heading h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-bottom: 42px;
}

.footer-heading ul li {
    list-style-type: none;
    margin-top: 18px;
}

.footer-heading ul li a {
    color: white;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    transition: 200ms all ease;
}
    .footer-heading ul li a:focus {
        color: hsl(356, 100%, 66%);
        text-decoration: none;
    }
    .footer-heading ul li a:active {
        color: hsl(353, 100%, 54%);
        text-decoration: none;
    }



        

@media only screen and (max-width: 440px) {
        
/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Top Navlinks
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.divider-hr {
    display: block;
}

.dropdown {
    position: relative;
}

.navbar-nav {
    background-color: #fff !important;
    border-radius: 8px !important;
    padding: 20px 50px;
    margin-bottom: -30px;
}



.top-navlinks-custom {
    color: black !important;
    text-align: center;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
    font-weight: 500;
    border-radius: 0px !important;
    background-color: white !important;
    transition: all 200ms ease !important;
    padding: 10px 20px;
}
    .top-navlinks-custom:hover {
        color: white;
        text-decoration: underline !important;
    }
    .top-navlinks-custom:active {
        color: white;
        text-decoration: none !important;
    }
    .top-navlinks-custom:focus {
        color: white;
        text-decoration: none !important;
    }

.top-navlinks-custom::after {
    background-image: url(images/icon-arrow-dark.svg) !important;
    background-size: cover !important;
    content: "" !important;
    width: 10px !important;
    height: 7px !important;
    position: absolute !important;
    bottom: 17px !important;
    left: 181px !important;
    transition: 200ms all ease;
}
    .top-navlinks-custom:focus::after {
        background-image: url(images/icon-arrow-dark.svg) !important;
        background-size: cover !important;
        transform: rotate(180deg) !important;
        content: "" !important;
        width: 10px !important;
        height: 7px !important;
        position: absolute !important;
        bottom: 21px !important;
        left: 181px !important;
        transition: 200ms all ease !important;
    }


/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Navlink Dropdowns
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#dropdown-menu {
    padding: 18px 8px !important;
    border-radius: 6px !important;
    color: black;
    background-color: #eee !important;
    text-align: center;
}

#dropdown-menu li {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #eee !important;
}

#dropdown-menu li a {
    margin-top: 4px;
    font-size: 16px;
    margin-bottom: 4px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #eee;
    color: hsl(0, 0%, 0%, 0.7);
}
    #dropdown-menu li a:hover {
        font-weight: 700;
        background-color: #eee;
    }
    #dropdown-menu li a:active {
        font-weight: 700;
        font-weight: 700;
        background-color: #ddd;
        border-radius: 6px;
    }

/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   All buttons
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

button, .custom-btn {
    border-radius: 24px !important;
    padding: 12px 36px !important;
    margin: auto;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    font-size: 16px;
    font-weight: 600 !important;
    transition: all 200ms ease !important;
    text-align: center;
}

/* For Login and Sign up */

.navbar-right {
    padding-right: 60px;
}

/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Login Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

.custom-login {
    color: #111 !important; 
    background-color: transparent;
    padding: 12px 48px !important;
    font-weight: 600 !important;
    text-align: center !important;
}
    .custom-login:hover {
        color: hsl(353, 100%, 62%) !important;
    }
    .custom-login:focus {
        font-weight: 600 !important;
        background-color: transparent !important;
        outline: none !important;
        color: hsl(353, 100%, 62%);
    }
    .custom-login:active {
        color: hsl(353, 100%, 54%) !important;
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none;
        }

/* 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
//   Sign Up Button
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


.custom-sign-up {
    background-color: white !important;
    color: hsl(356, 100%, 66%) !important;
}

    .custom-sign-up:hover {
        background-color: hsl(0, 0%, 100%, 0.2) !important;
        color: white !important;
        box-shadow: none !important;
    }
    .custom-sign-up:focus {
        box-shadow: none !important;
        outline: none !important;
        background-color: white !important;
        color: hsl(356, 100%, 66%) !important;
    }
        .custom-sign-up:active {
            background-color: white !important;
            color: hsl(356, 100%, 66%) !important;
            opacity: 0.2 !important;
            box-shadow: none !important;
            outline: none !important;
        }
}